.idea/
logs/
config/instances-install.xls
console-backend.iml
console-backend.ipr
console-backend.iws

\.classpath

\.project
target/
captcha/

*.class
.gradle
build
target
classes
bin
test-output
.settings/gradle/org.springsource.ide.eclipse.gradle.core.prefs
/.settings/
/org.eclipse.*
/.settings/*


*.prefs
*.iml

*.core.xml
